@import url("https://p.typekit.net/p.css?s=1&k=cir2yms&ht=tk&f=28747.28752.28755.28762&a=53698578&app=typekit&e=css");

@font-face {
font-family:"filson-soft";
src:url("https://use.typekit.net/af/0ceada/00000000000000003b9ade5c/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/0ceada/00000000000000003b9ade5c/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/0ceada/00000000000000003b9ade5c/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}

@font-face {
font-family:"filson-soft";
src:url("https://use.typekit.net/af/f50b47/00000000000000003b9ade5b/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/f50b47/00000000000000003b9ade5b/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/f50b47/00000000000000003b9ade5b/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:400;
}

@font-face {
font-family:"filson-soft";
src:url("https://use.typekit.net/af/63da2e/00000000000000003b9ade54/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/63da2e/00000000000000003b9ade54/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/63da2e/00000000000000003b9ade54/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:700;
}

@font-face {
font-family:"filson-soft";
src:url("https://use.typekit.net/af/277d7a/00000000000000003b9ade63/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/277d7a/00000000000000003b9ade63/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/277d7a/00000000000000003b9ade63/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

.tk-filson-soft { font-family: "filson-soft",sans-serif; }

.App-logo {
    height: 25vmin;
    width: auto;
    pointer-events: none;
    margin: 0;
    padding-bottom: 20px;
}

.Logo {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}

.App.Logo {
    background-color: #BEEDFE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #468DC6;
    margin: 0;
}

.Header {
    background-color: #BEEDFE;
    text-align: center;
    color: #468DC6;
    font-family: filson-soft;
    margin: 0;
    font-style: normal;
    padding-top: 30px;
    font-size: calc(50px + 4vmin);
}
.Greeting {
    background-color: #BEEDFE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(8px + 3vmin);
    font-family: filson-soft;
    font-style: normal;
    color: #468DC6;
}


.All {
    background-color: #BEEDFE;
}
.EnterCodeDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

::placeholder {
    color: #468DC6;
}



.EnterCode {
    display: flex;
    text-align: center;
    background-color: #9ADBFA;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 10px;
    border-radius: 15px;
    color: #468DC6;
    font-family: filson-soft;
    font-style: normal;
    font-size: calc(10px + 3vmin);
    border-style: hidden;
}

.Enter {
    display: flex;
    text-align: center;
    background-color: #BEEDFE;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 15px;
    color: #468DC6;
    font-family: filson-soft;
    font-style: normal;
    font-size: calc(10px + 3vmin);
    border-color:#468DC6;
    border-width: 3px;
    border-style: solid;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
}
.Bottom{
    padding-bottom: 70px;
}

*:focus {
    outline: none;
}